<!DOCTYPE html>
<html>
<head>
    <mete charset="UTF-8"></mete>
    <title>Hello World!</title>
</head>
<body>
Hello ${name}

<table>
    <tr>
        <td>序号</td>
        <td>姓名</td>
        <td>年龄</td>
        <td>钱包</td>
    </tr>
    <#list stus as stu>
        <tr>
        <td>${stu_index+1}</td>
        <td <#if stu.name=='小明'>style="background:#6146ff;"</#if>>${stu.name}</td>
        <td>${stu.age}</td>
        <td>${stu.money}</td>
        </tr>
    </#list>
    <#list stuMap?keys as k>
        <tr>
        <td>${k_index+1}</td>
        <td <#if stuMap[k].name=='小红'>style="background: #1fff36" </#if>>${stuMap[k].name}</td>
        <td>${stuMap[k].age}</td>
        <td>${stuMap[k].money}</td>
        </tr>
    </#list>
</table>
</body>
</html>